h1 {
	text-align: center;
	margin: 0;
	padding: 10px;
}

#container {
	display: flex;
	margin: 0;
	padding: 0;
}

form {
	width: 50%;
	margin: auto;
	padding: 0;
	text-align: center;
}

p {
	width: 50%;
	margin-left: 100px;
	padding: 0;
}

img {
	width: 90%;
	height: 90%;
}

#pseudo, #salon, #rejoindre {
	margin: 20px;
}